body {
    height: 100%;
    margin: 0px;
}

.nav-bar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 50px;
}

.logo {
    margin-left: 15%;
    flex: 1 0 auto;
}

.logo a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.navlinks {
    padding: 0px;
    margin: 0px 16.5% 0px 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 0 0 auto;
}

.navlinks a {
    color: #e7e7eb;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    padding: 8px 6px;
}

.navlinks a:hover {
    background-color: #353c45;
}

.first-block {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 50px;
    align-items: center;
}

.first-block img {
    display: inline-block;
    flex: 0 0 25%;
    width: 500px;
    height: auto;
    padding: 50px 20px;
    flex: 0 0 auto;
}

.first-content {
    flex: 0 0 25%;
}

.first-content h1 {
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 900;
}

.first-content p {
   font-size: 18px;
   color: #E5E7EB;
}

.first-content a {
    display: inline-block;
    background-color: #3882F6;
    color: #F2FAF8;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 9px;
    box-shadow: 2px 2px #1b232e;
}

.first-content a:hover {
    background-color: #0e52c0;;
}

.second-block h2 {
    color: #1f2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.second-block img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    border: #3882f6 solid 3px;
}

.explorers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 29.88px;
}

.third-block {
    background-color: #e5e7eb;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    height: 320px;
    padding: 29.88px 25%;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
}

.third-block .quote {
    margin-bottom: 10px;
    vertical-align: bottom;
}

.third-block .client {
    text-align: end;
    margin: 20px 0px 0px 0px;
    padding-right: 50px;
    vertical-align: bottom;
}

.fourth-block {
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth-block .bottom-banner {
    background-color: #3882f6;
    border-radius: 30px;
    width: 1200px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    color: #e5e7eb;
    font-size: 18px;
}

.bottom-banner h4,
.bottom-sign {
    font-weight: 900;
}

.bottom-banner h4 {
    margin: 0px 0px;
    padding: 0px 0px;
}

.bottom-banner p {
    margin: 0px 0px;
    padding: 0px 0px;
}

.bottom-text {
    margin-left: 150px;
}

.bottom-sign {
    display: inline-block;
    background-color: #3882f6;
    color: #F2FAF8;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 9px;
    border: 2px solid  #F2FAF8;
    margin-right: 150px;
}

.bottom-sign:hover {
    background-color: hsl(217, 93%, 62%);
}

.fifth-block {
    color: #e5e7eb;
    background-color: #1F2937;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}