body {
    height: 100%;
    margin: 0px;
}

.nav-bar {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    height: 50px;
}

.logo {
    margin-left: 15%;
    flex: 1 0 auto;
}

.logo a {
    text-decoration: none;
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
}

.navlinks {
    padding: 0px;
    margin: 0px 16.5% 0px 16px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex: 0 0 auto;
}

.navlinks a {
    color: #e7e7eb;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    padding: 8px 6px;
}

.navlinks a:hover {
    background-color: #353c45;
}

.first-block {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 50px;
    align-items: center;
}

.first-block img {
    display: inline-block;
    flex: 0 0 25%;
    width: 500px;
    height: auto;
    padding: 50px 20px;
    flex: 0 0 auto;
}

.first-content {
    flex: 0 0 25%;
}

.first-content h1 {
    color: #f9faf8;
    margin: 0px;
    padding: 0px;
    font-size: 48px;
    font-weight: 900;
}

.first-content p {
   font-size: 18px;
   color: #E5E7EB;
}

.first-content a {
    display: inline-block;
    background-color: #3882F6;
    color: #F2FAF8;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 800;
    border-radius: 9px;
    box-shadow: 2px 2px #1b232e;
}

.first-content a:hover {
    background-color: #0e52c0;;
}